*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
}
h1 { font-size: 3.0rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 2.2rem; }
h5 { font-size: 1.8rem; }
h6 { font-size: 1.6rem; }
a {text-decoration: none;}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
}
.header #menu, header label, .header .mobile{
    display: none;
}
.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}
.header .desktop ul{
    list-style: none;
}
.header .desktop ul li{
    display: inline-block;
}
.textlink{
    color: #060A24;
}
.header .textlink:hover{
    color: #00F3BB;
    text-decoration: line-through;
}
.hello{
    max-width: 900px;
    margin: 0 auto;
    height: 200px;
    display: flex;
    align-items: flex-end;
}
.hello .title span:first-of-type{
    text-decoration: line-through;   
}
.hello .title span:last-of-type{
    color: blue;   
}
.hello .text{
    margin: 10px 0 40px 0;
}
.hello .button{
    padding: 10px 60px;
    background-color: #00F3BB;
    font-weight: 500;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.hello .button:hover{
    background: linear-gradient(90deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
    color: white;
}